 /* Mario Trelles Riestra - UO294254 */
 /* Estilos generales del proyecto MotoGP-Desktop */

/* especificidad: 001 */
body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #9ABED5; 
    color: #0c2d48;
}

/* especificidad: 001 */
header {
    background: linear-gradient(90deg, #0c2d48 5%,  #9ABED5 100%);
    color: #0c2d48;
}

/* especificidad: 002 */
body a {
    color: #0c2d48; /* Hereda background-color de body */
}

/* especificidad: 002 */
nav a {
    text-decoration: none;
    background-color: #0c2d48;
    color: #B6CFDD;
}

/* especificidad: 002 */
h1 a {
    color: #fad02c; /* Hereda background de header */
    text-decoration: none;
}

/* especificidad: 012 */
body a:hover {
    color: #fad02c;
    background-color: #0b2337;
}

/* especificidad: 012 */
header a:hover {
    color: #fad02c; /* Hereda background-color de body */
}

/* especificidad: 010 */
.active {
    color: #fad02c; /* Hereda background-color de body */
}

/* especificidad: 002 */
header + p {
    font-size: 12px;
}

/* especificidad: 001 */
ul, ol {
    padding-left: 2em;
    margin-bottom: 1em;
}

/* especificidad: 001 */
li {
    margin-bottom: 0.3em;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    background: #B6CFDD; /* Hereda color de body */
}

/* especificidad: 001 */
dl {
    margin: 1em 0 1.5em 0;
    padding: 0.5em 1em;
    background: #B6CFDD; /* Hereda color de body */
}

/* especificidad: 001 */
dt {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.2em 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    display: inline-block;
    background: #9ABED5; /* Hereda color de body */  
}

/* especificidad: 001 */
dd {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

/* especificidad: 001 */
table {
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 1rem;
}

/* especificidad: 001 */
/* especificidad: 001 */
th, td {
    text-align: center;
    background: #B6CFDD; /* Hereda color de body */
}

/* especificidad: 011 */
a[href^="http"] {
    color: #0c2d48;
    background: #B6CFDD;
    text-decoration: none;
    border-bottom: 2px dashed #0c2d48;
    padding: 0.1em 0.2em;
}

img {
    max-width: 100%;    /* La imagen nunca supera el contenedor */
    height: auto;       /* Mantiene la proporci칩n original */
    display: block;     /* Evita peque침os espacios debajo de la imagen */
    margin: 0 auto;     /* Centra la imagen si es block */
}


video {
    max-width: 20%;    /* La imagen nunca supera el contenedor */
    height: auto;       /* Mantiene la proporci칩n original */
    display: block;     /* Evita peque침os espacios debajo de la imagen */
    margin: 0 auto;     /* Centra la imagen si es block */
}