 /* Mario Trelles Riestra - UO294254 */
 /* Estilos generales del proyecto MotoGP-Desktop */

/* Paleta de colores:
Mint Blue     Blue Gray        Dark Blue       Yellow
#88b2cc       #658ea9          #0c2d48         #fad02c */

 /* body → Especificidad = 001 */
body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #88b2cc; 
    color: #0c2d48;
}

/* header → Especificidad = 001 */
header {
    background-color: #97b9cf;
    color: #0c2d48;
}

/* h1 → Especificidad = 001 */
h1 {
    color: #0c2d48; 
    /* Hereda background-color de header */
}

/* header a → Especificidad = 002 */
header a {
    color: #0c2d48;
    /* Hereda background-color de header */
}

/* header a:hover → Especificidad = 012 */
header a:hover {
    color: #fad02c;
    /* Hereda background-color de header */
}

/* .active → Especificidad: 010 */
.active {
    color: #fad02c;
    /* Hereda background-color de header */
}
