/* Mario Trelles Riestra - UO294254 */
/* Estilos de layout del proyecto MotoGP-Desktop para juego de memoria */

/* main → Especificidad = 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

/* main h2, main p → Especificidad = 002 */
main h2, main p {
    grid-column: 1 / 5;
    text-align: center;
    align-self: center;     
}

@media (min-width: 320px) and (max-width: 799px) {

    /* main → Especificidad = 001 */
    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        /* Redefinición: grid-template y gap */
    }

    /* main h2, main p → Especificidad = 002 */
    main h2, main p {
        grid-column: 1 / 3;
        /* Redefinición: grid-column */
    }
}
