/* Mario Trelles Riestra - UO294254 */
/* Estilos de layout del proyecto MotoGP-Desktop */

/* especificidad: 001 */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
    padding: 1rem;
    border-radius: 0.5em;
}

/* especificidad: 002 */
header nav {
	display: flex;
	flex-direction: row;
    align-items: center;
	gap: 0.5rem;
}

/* especificidad: 003 */
header nav a {
	display: inline-block;
	padding: 0.7em 0.7em;
	border-radius: 0.5em;
}

/* especificidad: 001 */
/* especificidad: 001 */
th, td {
    padding: 0.5em 0.8em;
}

/* especificidad: 002 */
main > div {
    width: 100%;
    height: 500px;
    margin: 1rem 0;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* especificidad: 001 */
	header {
		flex-direction: column; /* Redefinición: flex-direction */
		align-items: stretch; /* Redefinición: align-items */
        padding: 1rem; /* Redefinición: padding-bottom, padding-left, padding-top y padding-right */
        background: linear-gradient(180deg, #0c2d48 5%,  #9ABED5 80%);
	}
    
    /* especificidad: 002 */
	header nav {
		flex-direction: column; /* Redefinición: flex-direction */
		align-items: stretch; /* Redefinición: align-items */
	}
    
    /* especificidad: 003 */
	header nav a {
        text-align: left;
		width: 95%;
        padding: 1em; /* Redefinición: padding-bottom, padding-left, padding-top y padding-right */
	}
	
    /* especificidad: 012 */
	body > p:nth-of-type(1) {
		display: none;
	}
	
    /* especificidad: 001 */
	video {
        width:100%;
        height:auto;
    }

    /* especificidad: 001 */
    audio {
        width:100%;
    }
    
    /* especificidad: 001 */
    table {
        font-size: 0.7rem;
    }

    /* especificidad: 001 */
    /* especificidad: 001 */
    th, td {
        padding: 0.2em 0.3em; /* Redefinición: padding-bottom, padding-left, padding-top y padding-right */
    }

    /* especificidad: 002 */
    article h2 + img {
        width: 100%;
        margin: 0.5rem auto;
    }

    /* especificidad: 002 */
    main > div {
        width: 100%; /* Redefinición: width */
        height: 300px; /* Redefinición: height */
    }
}